# Respaldos locales
backups/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Credenciales AWS
.aws/
credentials

# Variables de entorno
.env
.env.*
!.env.example

# Dependencias Node.js
node_modules/